@model IEnumerable<important1.Models.OrderDetail>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Owner/Views/Shared/_OwnerLayout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
             <th>
                @Html.DisplayNameFor(model => model.Order)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsbnNavigation)
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Order.OrderId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                 <img src="@("~/img/" + item.IsbnNavigation.Thumb)" asp-append-version="true" style="max-width: 60px" alt="">
                @Html.DisplayFor(modelItem => item.IsbnNavigation.Title)
            </td>
            
    
        </tr>
}
    </tbody>
</table>
