@model important1.Models.Book

@{
    ViewData["Title"] = "Book Detail ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
        <a asp-area="" asp-controller="UserBooks" asp-action="Index" class="stext-109 cl8 hov-cl1 trans-04">
            Home
            <i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
        </a>

        <span class="stext-109 cl4">
            @ViewData["Title"]
        </span>
    </div>
</div>


<!-- Product Detail -->
<section class="sec-product-detail bg0 p-t-65 p-b-60">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-7 p-b-30">
                <div class="p-l-25 p-r-30 p-lr-0-lg">
                    <div class="wrap-slick3 flex-sb flex-w">

                        <div class="wrap-slick3-arrows flex-sb-m flex-w"></div>

                        <div class="slick3 gallery-lb">
                            <div class="item-slick3">
                                <div class="wrap-pic-w pos-relative">
                                    <img src="@("~/img/" + Model.Thumb)" asp-append-version="true" style="max-width: 70%" alt="IMG-PRODUCT">


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-5 p-b-30">
                <div class="p-r-50 p-t-5 p-lr-0-lg">
                    <h4 class="mtext-105 cl2 js-name-detail p-b-14">
                        @Html.DisplayFor(model => model.Title)
                    </h4>

                    <span class="mtext-106 cl2">
                        @Html.DisplayFor(model => model.Price) VND
                    </span>


                    <div class="row">
                        <P class="stext-102 cl3 p-t-23 col-sm-4">
                            @Html.DisplayNameFor(model => model.Author) :
                        </P>
                        <p class="stext-102 cl3 p-t-23 col-sm-14">
                            @Html.DisplayFor(model => model.Author)
                        </p>
                    </div>
                    <div class="row">
                        <P class="stext-102 cl3 p-t-23 col-sm-4">
                            @Html.DisplayNameFor(model => model.CategoryId) :
                        </P>
                        <p class="stext-102 cl3 p-t-23 col-sm-14">
                            @Html.DisplayFor(model => model.Category.Name)
                        </p>
                    </div>
                    <div class="row">
                        <P class="stext-102 cl3 p-t-23 col-sm-4">
                            @Html.DisplayNameFor(model => model.Page) :
                        </P>
                        <p class="stext-102 cl3 p-t-23 col-sm-14">
                            @Html.DisplayFor(model => model.Page)
                        </p>
                    </div>
                    <p class="stext-102 cl3 p-t-23 text-justify">
                        @Html.DisplayFor(model => model.Descr)
                    </p>

                    <!--  -->
                    <div class="p-t-33">



                        <div class="flex-w flex-r-m p-b-10">
                            <div class="size-204 flex-w flex-m respon6-next">
                                @if (User.IsInRole("Customer"))
                                {
                                    <form asp-controller="UserBooks" asp-action="AddToCart" method="get">
                                        <div class="flex-w flex-r-m p-b-10">
                                            <div class="size-204 flex-w flex-m respon6-next">
                                                <div class="wrap-num-product flex-w m-r-20 m-tb-10">
                                                    <div class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m">
                                                        <i class="fs-16 zmdi zmdi-minus"></i>
                                                    </div>

                                                    <input class="mtext-104 cl3 txt-center num-product" type="number" name="quantity" value="1">

                                                    <div class="btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m">
                                                        <i class="fs-16 zmdi zmdi-plus"></i>
                                                    </div>
                                                </div>
                                                <input style="display :none" type="text" name="Isbn" value="@Model.Isbn" />
                                                <button class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04 js-addcart-detail">
                                                    Add to cart
                                                </button>
                                            </div>
                                    </form>
                                }

                                else
                                {
                                    <a asp-area="Identity" asp-page="/Account/Login" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04">
                                        Hãy đăng nhập để mua sách
                                    </a>
                                }
                            </div>
                        </div>
                    </div>

                    <!--  -->
                    <div class="flex-w flex-m p-l-100 p-t-40 respon7">
                    </div>
                </div>
            </div>
        </div>
</section>



